{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Acceuil</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href='/static/styles/accueil.css' />
<body>
<h1> Les posts </h1>
    <div class="card-columns">
    {% for item in data %}
        <div class="card bg-light mb-3" style="width : 50rem; margin:auto;">
            <a href = "/sub/{{item[3]}}" class="list-group-item-action flex-column align-items-start">
                <div class="card-header">
                    <h2 class="card-title">Projet : {{item[0]}} </h2>
                </div>
            </a>
                <div class="card-body">
                    <h3 class="card-subtile">{{item[1]}}</h3>
                    <p class="card-text">{{item[2]}}</p>
                    <footer class = "blockquote-footer">Posté le {{item[4]}}</footer>
                    <div class="btn-group">
                        <a class = "btn btn-block btn-secondary" href='/{{item[5]}}/ajoutcompteur'>LIKE</a>
                        <a class = "btn btn-block btn-secondary" href='/{{item[5]}}/retraitcompteur'>DISLIKE</a>
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>
</body>   
{% endblock %}