{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Acceuil</title>
{% endblock %}

{% block content %}
<link rel="stylesheet" href='/static/styles/accueil.css' />
<body style='background-color: rgb(73, 73, 73);'>
<h1> Fil d'actualité </h1>
    <div class="card-columns">
    {% for item in data %}
        <div class="card bg-light mb-3" style="width : 50rem; margin:auto;">
            <a href = "/sub/{{item[3]}}" class="list-group-item-action flex-column align-items-start">
                <div class="card-header">
                    <h2 class="card-title">Projet : {{item[0]}} </h2>
                </div>
            </a>
                <div class="card-body">
                    <h3 class="card-subtile">{{item[1]}}</h3>
                    <p class="card-text">{{item[2]}}</p>
                    {% if  os.path.isfile("static/img/uploads/"~item[5]) == True %}
                        <img src="static/img/uploads/{{item[5]}}" class= image_post > 
                        <hr>
                    {% endif %}
                    <footer class = "blockquote-footer">Posté le {{item[4]}}</footer>
                    <p class='like'>{{like[item[5]][1]}} likes</p>
                    {% if like[item[5]][0][0] %}
                        <a class = "btn btn-block btn-secondary"  href='/like/{{item[5]}}'>LIKE</a>
                    {% else %}
                        <a class = "btn btn-block btn-secondary disabled" href='/like/{{item[5]}}'>LIKE</a>
                    {% endif %}
                    {% if like[item[5]][0][1] %}
                        <a class = "btn btn-block btn-secondary"  href='/dislike/{{item[5]}}'>DISLIKE</a>
                    {% else %}
                        <a class = "btn btn-block btn-secondary disabled" href='/dislike/{{item[5]}}'>DISLIKE</a>
                    {% endif %}
                    <div class="container justify-content-center mt-5 border-left border-right" style='display: inline-block;'>
                        <form  action='/comment/{{item[0]}}'  method = "POST">
                          <label for='commentaire' style='padding-left: 1.5rem'>Votre commentaire :</label>
                          <textarea  type='text' name='commentaire' rows="6" placeholder="écrivez votre commentaire..."
                        required
                          minlength='1' maxlength='500' style="height: 30px; width: 45rem; display: block;
                          margin-left: auto;
                          margin-right: auto;"></textarea>
                          <input type= "submit" value="Submit" style="display: block;
                          justify-content: center; 
                          width: 90px;
                          border-radius: 4px;
                          border-width: 1px;" >
                        </input>
                        </form>
                        {% for comment in comments[item[5]] %}
                        <div class="d-flex justify-content-center py-2">
                          <link rel="stylesheet" href='/static/styles/commentaires.css' />
                            <div class="second py-2 px-2"> <span class="text1" style="display: inline;">{{comment[0]}}</span>
                                <div class="d-flex justify-content-between py-1 pt-2">
                                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                    <span class="text2" style="display: inline;">De {{comment[1]}} {{comment[2]}}</span></div>
                                    <div><div class = "col">
                                      <div class = "card">
                                        <div class = "card-body">
                                          <h4 class = "card-title" style='display: inline;'>{{comment[3]}}</h4>
                                          <span class="thumbup" style="display: inline-block; font-size:24px"><i class="fa fa-thumbs-o-up"></i></span>
                                            {% if comment[5][0] %}
                                              <a class = "btn btn-block btn-secondary"  href="/upvote/{{comment[4]}}" >Upvote</a>
                                            {% else %}
                                              <a class = "btn btn-block btn-secondary disabled" href="/upvote/{{comment[4]}}" >Upvote</a>
                                            {% endif %}
                                          <span class="thumdown" style="display: inline-block; font-size:24px"><i class="fa fa-thumbs-o-down"></i></span>
                                            {% if comment[5][1] %}
                                              <a class = "btn btn-block btn-secondary"  href="/downvote/{{comment[4]}}" >Downvote</a>
                                            {% else %}
                                              <a class = "btn btn-block btn-secondary disabled" href="/downvote/{{comment[4]}}" >Downvote</a>
                                            {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        </div>
    {% endfor %}
    </div>
</body>   
{% endblock %}