{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Mon profil</title>
{% endblock %}

{% block content %}
<body>
    <h1 style='margin-top: 20px;
                text-align: center;'>Mon Profil</h1>
    {% if data is string%}
        <form method="get" action="/validation" style="margin-top : 50px;
                                                        text-align: center;">

            <button  class="btn btn-dark" type="submit">Gérer les niveaux des utilisateurs</button>
        </form>
    {% endif %}
    
</body>
{% endblock %}