{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Sub</title>
{% endblock %}

{% block content %}
   <div>
      <link rel="stylesheet" href='/static/styles/stylesub.css' />
      <h1>Nouveau Projet</h1>
      <form action="/post" method = "POST">
      <p>
      <label for='name'>Nom du projet:
      </label>
      <input type='text' name='name' placeholder="Rentrer le nom de votre projet"
      required
         minlength='1' maxlength='200'>
      </input>
      </p>
      <p>
      <label for='domaine'>Domaine du Projet:
      </label>
      <input type='text' name='domaine' placeholder="Rentrer les mots clés associés à votre projet"
      required
         minlength='1' maxlength='200'>
      </input>
      </p>
      <p>
      <label for='description'>Description du Projet:
      </label>
      <textarea type='text' name='description' rows="20" placeholder="Décriver votre projet..."
      required
         minlength='1' maxlength='5000' style="height: 80px"></textarea>
      </p>
      <p>   
      <input type= "submit" value="Submit" style="margin-left: auto;
                                                   margin-right: auto; 
                                                   width: 90px;
                                                   border-radius: 4px;
                                                   border-width: 1px;" >
      </input>
      </p> 
      </form>
   </div>
{% endblock %}
