{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Viewpost</title>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs navbar-dark bg-dark">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="/sub/{{id}} ">Description</a>
  </li>
  <li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Posts</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="/sub/{{id}}/creationpost">Créer un post</a></li>
    </ul>      
  </li>
  {% if owner or participant %}
  <li class="nav-item">
    <a class="nav-link">Calendrier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/sub/{{ id }}/chat">Chat</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link disabled">Calendrier</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Chat</a>
  </li>
  {% endif %}
  {% if owner %}
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/sub/{{ id }}/demandes">Demandes de participation</a>
  </li>
  {% endif %}
</ul>

<body style = "background-color: rgb(73, 73, 73);">
  <h1 style = "margin: auto;text-align: center;padding: 20px;">Les derniers posts</h1>
  <div class="card-columns">
  {% for item in data[0] %}
      <div class="card bg-light mb-3" style="width : 50rem; margin:auto;">
        <div class="card-body">
            <h3 class="card-title">{{item[1]}}</h3>
            <p class="card-text">{{item[2]}}</p>
            <footer class = "blockquote-footer">Posté le {{item[4]}}</footer>
            <button class = "btn btn-block btn-secondary">LIKE</button>
            <button class = "btn btn-block btn-secondary">DISLIKE</button>
            
        </div>
        <div class="container justify-content-center mt-5 border-left border-right" style='display: inline-block;'>
          <form  action='/comment/{{item[0]}}'  method = "POST">
            <label for='commentaire' style='padding-left: 1.5rem'>Votre commentaire :</label>
            <textarea  type='text' name='commentaire' rows="6" placeholder="écrivez votre commentaire..."
          required
            minlength='1' maxlength='500' style="height: 30px; width: 45rem; display: block;
            margin-left: auto;
            margin-right: auto;"></textarea>
            <input type= "submit" value="Submit" style="display: block;
            justify-content: center; 
            width: 90px;
            border-radius: 4px;
            border-width: 1px;" >
          </input>
          </form>
          {% for comment in comments[item[0]] %}
          <div class="d-flex justify-content-center py-2">
            <link rel="stylesheet" href='/static/styles/commentaires.css' />
              <div class="second py-2 px-2"> <span class="text1" style="display: inline;">{{comment[0]}}</span>
                  <div class="d-flex justify-content-between py-1 pt-2">
                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                      <span class="text2" style="display: inline;">De {{comment[1]}} {{comment[2]}}</span></div>
                      <div><div class = "col">
                        <div class = "card">
                          <div class = "card-body">
                            <h4 class = "card-title" style='display: inline;'>{{comment[3]}}</h4>
                            <span class="thumbup" style="display: inline-block; font-size:24px"><i class="fa fa-thumbs-o-up"></i></span>
                              {% if comment[5] %}
                                <a class = "btn btn-block btn-secondary"  href="/upvote/{{comment[4]}}" >Upvote</a>
                              {% else %}
                                <a class = "btn btn-block btn-secondary disabled" href="/upvote/{{comment[4]}}" >Upvote</a>
                              {% endif %}
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
        
      </div>
  {% endfor %}
  </div>
</body>
{% endblock %}