{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Viewpost</title>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="/sub/{{ data[1] }} ">Description</a>
    </li>
    <li class="nav-item active dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Posts</a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/sub/{{ data[1] }}/creationpost">Créer un post</a></li>
      </ul>      
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">Calendrier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Chat</a>
      </li>
  </ul>
{% endblock %}