{% extends 'layout.html' %}

{% block title %}
<meta charset="UTF-8">
<title>Viewsub</title>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs navbar-dark bg-dark">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/sub/{{ id }}/post">Posts</a>     
    </li>
    {% if owner or abonne %}
    <li class="nav-item">
      <a class="nav-link">Calendrier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Chat</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link disabled">Calendrier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Chat</a>
    </li>
    {% endif %}
    {% if owner %}
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/sub/{{ id }}/demandes">Demandes de participation</a>
    </li>
    {% endif %}

</ul>

<h1 class="titreSub " style = "margin:auto; padding: 20px;">{{data[0][0]}}</h1>
<body style = "background-color: rgb(73,73,73);">
  <div class="container">
    <div class = "row">
      <div class = "col text-center" style="height: 200px;">
        <p class="descriptionSub"><strong>Créateur du projet</strong></p>
        <p class = "descriptionSub">{{data[0][4]}} {{data[0][3]}}</p>
      </div>
      <div class = "col-6 text-center descriptionSub" style = "height: 200px; ">{{data[0][1]}}</div>
      <div class = "col text-center" style = "height: 200px;">
        <p class = "descriptionSub"> Nombre d'abonnés  : {{nb_abonnes[0]}}</p>
        {% if owner %}
        <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/abonnement' >S'abonner</a>
        <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/desabonnement' >Se désabonner</a>
        {% else %}
          {% if abonne %}
            {% if participant %}
            <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/abonnement' >S'abonner</a>
            <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/desabonnement' >Se désabonner</a>
            {% else %}
            <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/abonnement' >S'abonner</a>
            <a class = "btn btn-block btn-secondary" href='/{{id}}/desabonnement' >Se désabonner</a>
            {% endif %}
          {% else %}
          <a class = "btn btn-block btn-secondary" href='/{{id}}/abonnement' >S'abonner</a>
          <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/desabonnement' >Se désabonner</a>
          {% endif %}
        {% endif %}
        
      </div>
    </div>
  </div>
 

</body>
<body style = "background-color: rgb(73,73,73);">
  <div class = "container">
    <div class="row text-center">
      <h1 style = "margin:auto; padding: 20px;">Les participants</h1>
      {% if owner %}
      <a class = "btn btn-block btn-secondary" >Modifier</a>
      {% endif %}
    </div>
    <div class = "row">
      <div class = "col text-center">
      {% if owner %}
      {% else %}  
        {% if abonne %}
          {% if participant %}
          <a class = "btn btn-block btn-secondary " href='/{{id}}/annuler_participation' >Ne plus participer</a>
          {% else %}
            {% if demande %}
            <a class = "btn btn-block btn-secondary disabled " href='/{{id}}/demande_participation' >Participer</a>
            <p> Vous avez déjà envoyer une demande de participation. Veuillez attendre l'accord du créateur du projet</p>
            {% else %}
            <a class = "btn btn-block btn-secondary" href='/{{id}}/demande_participation' >Participer</a>
            {% endif %}
          {% endif %}
        {% else %}
        <a class = "btn btn-block btn-secondary disabled" href='/{{id}}/demande_participation' >Participer</a>
        <p>Veuillez d'abord vous abonner avant de demander à participer au projet</p>
        {% endif %}
      {% endif %}
      </div>
    </div>
    <div class="row">
      {% for participant in liste_participants %}
      <div class="col">
        <p>Nom : {{participant[1]}}</p>
        <p>Prénom : {{participant[2]}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
{% endblock %}