{% extends 'layout.html' %}



{% block content %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Description</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/sub/{{ data[1] }}/post">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">calendrier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">chat</a>
      </li>
  </ul>
{% endblock %}