html{
  background-color: rgb(73, 73, 73);
}

body {
  margin: 0;
  background-color: red;
}
header {
  background-color:pink;
  margin: 0;
}
.navbar-custom{
  background-color:rgb(37, 7, 7);
}

.btn-default {
  border-color: rgb(255, 0, 0);
}

.titreSub {
  text-align: center;
  background-color: rgb(73, 73, 73);
  font-size: 50px;

}

.descriptionSub {
  background-color: rgb(73, 73, 73);
  font-size: 25px;
}